ISO 639-3 and metadata standards

Which metadata standards contain ISO 639-3 codes and MARC records? Which items should use these?

Language tags as defined by the Internet Engineering Task Force (IETF), as documented in:
[BCP 47](https://tools.ietf.org/html/bcp47): Best Current Practice 47, which includes RFC 5646
RFC 5646, which superseded RFC 4646, which superseded RFC 3066. (Therefore all standards which depend on any of these 3 IETF standards now use ISO 639-3.)
Dublin Core Metadata Initiative: [DCMI Metadata Term for language](http://purl.org/dc/elements/1.1/language), via IETF's RFC [4646](http://tools.ietf.org/html/rfc4646) (now superseded by RFC 5646).
[HTML5](http://www.w3.org/TR/html5/dom.html#the-lang-and-xml:lang-attributes): via IETF's BCP 47.
MARC library codes.
[MODS library codes](http://www.loc.gov/standards/mods/v3/mods-userguide-elements.html): Incorporates IETF's [RFC 3066](https://www.ietf.org/rfc/rfc3066.txt) (now superseded by [RFC 5646](http://tools.ietf.org/html/rfc5646)).

OLAC:  http://www.language-archives.org/REC/language.html 


Also consider updating: https://github.com/LowResourceLanguages/endangered-languages/blob/master/Standards%20used%20in%20Language%20Technology.md
